include ./header
.container
  .row.pt-4
    .container-fluid
      h1 Episode Credits
  .row.pt-4
    .container-fluid
      div(style="text-align: right") 
          button#export-json(class="btn btn-na me-3" type="button") Export JSON
          button#export-csv(class="btn btn-na" type="button") Export CSV 
      div(class="table-responsive")
        table(data-toggle="true" data-search="true" data-search-align="right")
          thead
            tr
              th(data-filter-control='select', data-sortable='true') Date
              th(data-filter-control='select', data-sortable='true') Number
              th(data-filter-control='select', data-sortable='true') Title 
              th(data-filter-control='select', data-sortable='true') Producer
              th(data-filter-control='select', data-sortable='true') Type
              th(data-filter-control='select', data-sortable='true') Art, Artist
            tbody
              each credit in episodeCredits
                -var imgSrc = "https://www.noagendashow.net/media/cache/cover_small/" + credit.episode_number + ".png"
                tr
                  td(class="text-center") #{credit.episode_date}
                  td(class="text-center")
                    a(target="_blank" href="https://www.noagendashow.net/listen/"+credit.episode_number) #{credit.episode_number}
                  td(class="text-center")
                    a(target="_blank" href="https://www.noagendashow.net/listen/"+credit.episode_number) #{credit.title}
                  td(class="text-center") 
                    a(target="_self" href="/producer/"+credit.producer) #{credit.producer}
                  td(class="text-center") #{credit.type}
                  td(class="text-center")
                    a(target="_self" href="/producer/"+credit.episode_artist)
                      img(class="art" src=imgSrc)
                      br
                      span #{credit.episode_artist}

script(src='https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
script(src='https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js')
script.
  $(document).ready(function() {
      function exportCsv(data) {
        var newData = data.map(function(item) {
          const episode_date = item[0]; 
          const episode_num = item[1].match(/(?<=href=")[^"]+/)[0].split("/")[4]
          const episode_title = item[2].match(/(?<=<a[^>]*>)[^<]+/);
          const producer_alias = item[3].match(/(?<=<a[^>]*>)[^<]+/);
          const credit_type = item[4]
          const artist = item[5].match(/(?<=<span[^>]*>)[^<]+/)[0]
          return {
            "Episode Date": episode_date,
            "Episode Number": episode_num,
            "Episode Title": episode_title,
            "Producer": producer_alias,
            "Type": credit_type,
            "Artist": artist,
          }
        });
        var csv = Papa.unparse(newData);
        var blob = new Blob([csv], {type: "text/csv"});
        var url = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'NAEpisodeCredits.csv';
        a.click();
      }
      function exportJson(data) {
        var newData = data.map(function(item) {
          const episode_date = item[0]; 
          const episode_num = item[1].match(/(?<=href=")[^"]+/)[0].split("/")[4]
          const episode_title = item[2].match(/(?<=<a[^>]*>)[^<]+/)[0].replace(/[\[\]]/, '');
          const producer_alias = item[3].match(/(?<=<a[^>]*>)[^<]+/)[0].replace(/[\[\]]/, '');
          const credit_type = item[4]
          const artist = item[5].match(/(?<=<span[^>]*>)[^<]+/)[0]
          return {
            "Episode Date": episode_date,
            "Episode Number": episode_num,
            "Episode Title": episode_title,
            "Producer": producer_alias,
            "Type": credit_type,
            "Artist": artist,
          }
        });
        var json = JSON.stringify(newData);
        var blob = new Blob([json], {type: "application/json"});
        var url = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'NAEpisodeCredits.json';
        a.click();
      }


      $('table').bootstrapTable();

      $('#export-json').click(function() {
          var data = $('table').bootstrapTable('getData', {useCurrentPage: true});
          exportJson(data);
      });

      $('#export-csv').click(function() {
          var data = $('table').bootstrapTable('getData', {useCurrentPage: true});
          exportCsv(data);
      });   
  });