include ./header
.container
  .row.pt-4
    .col
      h4 Episode Credits
      .cards
        each credit in episodeCredits
          .card.episode-credit
            ul.list-group.list-group-flush
              li.list-group-item.credit-item
                div(class="sideBySide" style="width: 40%;")
                  img(class="art" src="https://www.noagendashow.net/media/cache/cover_small/"+credit.number+".png")
                div(class="sideBySide" style="width: 60%;")
                  a(href="/episode/"+credit.number)
                    h5 #{credit.number}
                    h6.title #{credit.title}
                  br
                  h6.dateLength #{credit.date} | #{credit.length}
                h6.artist 
                  a(href="/producer/"+credit.artist) #{credit.artist}
    .col
      h4 Recent Credits
      .cards
        each credit in recentCredits
          .card.recent-credit
            ul.list-group.list-group-flush
              li.list-group-item.credit-item
                div(class="sideBySide")
                  img(class="art" src="https://www.noagendashow.net/media/cache/cover_small/"+credit.episode_number+".png")
                div(class="sideBySide recent-credit")
                  h6
                    a(href="/producer/"+credit.producer) #{credit.producer}
                  br
                  h6
                    a(href="/episode/"+credit.episode_number) #{credit.episode_number}
                  br
                  h6 #{credit.type}
    .col
      h4(style="margin-left:-80px;") Frequent Producers
      .cards
      each producer in freqProducers
        .card.producer-item
          ul.list-group.list-group-flush
            li.list-group-item.credit-item
              h6
                a(href="/producer/" + producer._id) #{producer._id}
          span.badge #{producer.count}
script(src='https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
script.
    $(document).ready(function() {
        $(window).on('load', function() {
          if(new_visitor == true) {
            $('#myModal').modal('show');
          }
        });
    });